EmployeesUI/EmployeesUI/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeObject" nillable="true" type="tns:EmployeeObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeObject" nillable="true" type="tns:ArrayOfEmployeeObject" />
  <xs:complexType name="EmployeeObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cellphone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Middle_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Second_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tip_Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeObject" nillable="true" type="tns:EmployeeObject" />
</xs:schema>